<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-sm mx-auto">

    <h2 class="text-xl font-bold">REGISTRO</h2>

    <!-- Nombre -->
    <input type="text" placeholder="Nombre" formControlName="nombre" class="p-2 border border-gray-500" />
    <div *ngIf="(registerForm.get('nombre')?.touched || submitted) && registerForm.get('nombre')?.invalid">
        <small class="text-red-500">Mínimo 2 caracteres</small>
    </div>

    <!-- Apellido -->
    <input type="text" placeholder="Apellido" formControlName="apellido" class="p-2 border border-gray-500" />
    <div *ngIf="(registerForm.get('apellido')?.touched || submitted) && registerForm.get('apellido')?.invalid">
        <small class="text-red-500">Mínimo 2 caracteres</small>
    </div>

    <!-- Edad -->
    <input type="number" placeholder="Edad" formControlName="edad" class="p-2 border border-gray-500" />
    <div *ngIf="(registerForm.get('edad')?.touched || submitted) && registerForm.get('edad')?.invalid">
        <small class="text-red-500">Debe ser entre 18 y 99</small>
    </div>

    <!-- Email -->
    <input type="email" placeholder="Email" formControlName="email" class="p-2 border border-gray-500" />
    <div *ngIf="(registerForm.get('email')?.touched || submitted) && registerForm.get('email')?.invalid">
        <small class="text-red-500">Email inválido</small>
    </div>

    <!-- Password -->
    <input type="password" placeholder="Contraseña" formControlName="password" class="p-2 border border-gray-500" />
    <div *ngIf="(registerForm.get('password')?.touched || submitted) && registerForm.get('password')?.invalid">
        <small class="text-red-500">Mínimo 6 caracteres</small>
    </div>

    <button type="submit" class="bg-red-500 text-white py-2">
        Crear cuenta
    </button>

</form>